/* Ascunde câmpurile dependente inițial */
.europarcel-price-type-dependent {
    display: none;
}

/* Stiluri pentru grupuri de câmpuri */
.europarcel-field-group {
    display: inline-block;
    margin-right: 20px;
}

.europarcel-field-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.europarcel-field-group input[type="text"] {
    width: 80px !important;
}